.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-logo {
  width: auto;
  height: 36px;
}

.App-header {
  background-color: #fff;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding:5px
}

.App-link {
  color: #61dafb;
}
.Content {
  background-color: #eceff2;
  height: 90vh;
}

