body{
  background-color: #eceff2;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: auto;
  height: 36px;
}

.EmployerContainer{
  font-family: 'Open Sans', sans-serif;
  color: #d6008f;
  border: solid;
  border-width: 2px;
  padding: 3px!important;
  border-color: #d6008f;
  margin-left: 40px;
}
.App-header {
  background-color: #fff;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
}
.App-header-left{
  padding: 0px 0px 0px 40px;
  display: flex;
  align-items:center;
}
.App-header-left > span{
  padding: 0px 0px 0px 0px;
}
.Avatar{
  width:30px;
  border-radius: 50%;
  margin-right: 10px;
}
.App-header-right{
  display: flex;
  align-items: center;
  padding: 0px 40px 0px 0px;
}
.App-link {
  color: #61dafb;
}
.menuItem{
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  user-select: none;
  width:80px
}
.menuItem:hover{
  background-color: #eceff2;
  cursor: pointer;
}
.menuItem.selected{
  background-color: #eceff2;
}
.Content {
  background-color: #eceff2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataTableContainer
{width: 90%;
  padding: 30px;
}


input[type=number],input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit], button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover, button:hover {
  background-color: #45a049;
}
button{
  width: 40%;
  margin: 10px;
}
.redButton{
  background-color: #e3493b;
}
.redButton:hover{
  background-color: #c93323;
}
.formbody{
max-width: 500px;
}

.recharts-responsive-container
{
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;

}
.whitebackground{
  background-color: white;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-wrapper{
  background-color: white;
}

.spinner{
  width:15px;
  display: inline;
}

iframe{
  width:1025px;
  height: 730px;
}

.dataTableContainer > div{
  border-radius: 30px;

}